<div class="container-fluid p-5">
  <div class="row">
  <header class="p-3 text-bg-dark">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" routerLink="/number-1" class="nav-link px-2 text-white">userList</a></li>
          <li><a href="#" routerLink="/number-2" class="nav-link px-2 text-white">categoryList</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input [formControl]="search" type="text" name="form" autocomplete="off" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <a type="button" class="btn btn-outline-light me-2" routerLink="/login">Login</a>
        </div>
      </div>
  
  </header>
  </div>
  <div class="row">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters">
          <td>{{ character.id }}</td>
          <td>{{ character.name }}</td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="alert alert-warning" *ngIf="getCharacters().length == 0"> listede eleman yok</div> -->

    <div>
      <div *ngIf="pageableInfo">
        <button
          (click)="getCharactersByUrl(pageableInfo.prev)"
          [disabled]="!pageableInfo.prev"
        >
          Prev
        </button>
        <button
          (click)="getCharactersByUrl(pageableInfo.next)"
          [disabled]="!pageableInfo.next"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
